<button (click)="onAdd($event)" class="add-button">Add</button>
<button (click)="onEdit($event)" [disabled]="!selection.hasValue()" class="edit-button">Edit</button>
<button (click)="onDelete()" [disabled]="!selection.hasValue()" class="delete-button">Delete</button>

<table class="table table-hover border shadow" [attr.aria-rowcount]="(dataSource| async)?.length" [attr.aria-colcount]="headers.length">
  <thead>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
  </thead>
  <tbody>
    <tr *ngFor="let element of dataSource | async"
      (click)="doSelect(element)"
      [ngClass]="{'table-info': selection.isSelected(element)}"
      [attr.aria-label]="getAriaLabel(element)"
      tabindex="0"
      (keyup.enter)="doSelect(element)">
      <td>{{element.firstName}}</td>
      <td>{{element.lastName}}</td>
      <td>{{element.city}}</td>
      <td>{{element.state}}</td>
    </tr>
  </tbody>
</table>

<alp-compliant-personnel-form #personnelForm (formClosed)="formClosed()"></alp-compliant-personnel-form>