<h5 class="text-left pl-2 pt-1">Personnel</h5>

<button (click)="onAdd()" class="add-button" tabindex="3">Add</button>
<button (click)="onEdit()" [disabled]="!selection.hasValue()" class="edit-button" tabindex="1">Edit</button>
<button (click)="onDelete()" [disabled]="!selection.hasValue()" class="delete-button" tabindex="2">Delete</button>

<table class="table table-hover border shadow">
  <tbody>
    <tr class="font-weight-bold">
      <td>First Name</td>
      <td>Last Name</td>
      <td>City</td>
      <td>State</td>
    </tr>
    <tr *ngFor="let element of dataSource | async" (click)="doSelect(element)" [ngClass]="{'table-info': selection.isSelected(element)}">
      <td>{{element.firstName}}</td>
      <td>{{element.lastName}}</td>
      <td>{{element.city}}</td>
      <td>{{element.state}}</td>
    </tr>
  </tbody>
</table>

<alp-noncompliant-personnel-form #personnelForm></alp-noncompliant-personnel-form>