<div class="container_header">
  Task List
</div>
<div class="container_items">
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="container_item" [routerLink]="['personnel']">
          Personnel
        </button>
      </li>
      <li class="nav-item">
        <button class="container_item" [routerLink]="['empty']">
          Inventory
        </button>
      </li>
      <li class="nav-item">
        <button class="container_item" [routerLink]="['empty']">History</button>
      </li>
    </ul>
  </nav>
</div>
