:host {
  background-color: #2f4050;
  display: flex;
  width: 175px;
  position: absolute;
  height: 100%;
}

nav {
  margin-top: 0.5rem;
  width: 98%;

  ul {
    padding-left: 5px;

    li {
      list-style: none;

      button {
        padding: 5px 10px;
        margin: 3px auto;
        width: 100%;
        background: #2f4050;
        color: white;
        border: none;
        text-align: left;

        &:hover {
          box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        }

        svg {
          margin-right: 5px;
          fill: white;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  :host {
    width: 100%;
    position: relative;
  }

  nav {
    margin-top: 0;
    width: 100%;

    li {
      float: left;
      padding: 5px 0;
    }
  }
}
