:host {
  height: 100%;
}

[role="dialog"] {
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  top: 3.25rem;
  left: 50vw;
  transform: translateX(-50%);
  min-width: 350px;
  min-height: auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  width: 400px;

  &.hidden {
    display: none;
  }

  .dialog-header {
    width: 100%;
    background-color: darkgray;
    display: flex;

    .header {
      width: 100%;
      margin: 8px 15px 0;

      h2 {
        font-size: 1.5rem;
      }
    }

    .close {
      position: relative;
      right: 10px;
      top: 8px;
      width: 24px;
      height: 24px;
      opacity: 1;

      &:hover {
        opacity: 0.65;
      }
    }
  }

  .dialog-body {
    padding: 25px 40px 15px 55px;

    label {
      width: 120px;
      font-weight: 600;
    }
  }

  .dialog-footer {
    text-align: right;
    padding: 0 20px 20px;

    button {
      margin: 5px;
    }
  }
}
