<div id="claimant_form">
  <div class="claimant_form_header">
    <div class="header">
      <h2 #title tabindex="-1">Claimant Info Form</h2>
    </div>
    <div class="close" (click)="onCancel()" tabindex="0" aria-label="Close" role="button"></div>
  </div>
  <div class="claimant_form_content">
    <div class="claimant_form_field">
      <label for="claimant.firstName">First Name</label>
      <input type="text" id="claimant.firstName" [(ngModel)]="curClaimant.firstName" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.middleName">Middle Name</label>
      <input type="text" id="claimant.middleName" [(ngModel)]="curClaimant.middleName" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.lastName">Last Name</label>
      <input type="text" id="claimant.lastName" [(ngModel)]="curClaimant.lastName" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.address1">Address Line 1</label>
      <input type="text" id="claimant.address1" [(ngModel)]="curClaimant.address1" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.address2">Address Line 2</label>
      <input type="text" id="claimant.address2" [(ngModel)]="curClaimant.address2" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.city">City</label>
      <input type="text" id="claimant.city" [(ngModel)]="curClaimant.city" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.state">State</label>
      <input type="text" id="claimant.state" [(ngModel)]="curClaimant.state" />
    </div>
    <div class="claimant_form_field">
      <label for="claimant.zip">Zip Code</label>
      <input type="text" id="claimant.zip" [(ngModel)]="curClaimant.zip" />
    </div>
  </div>
  <div class="claimant_form_buttons">
    <button (click)="onCancel()">Cancel</button>
    <button (click)="onSave()" type="submit" tabindex="0">Save</button>
  </div>
</div>
<div id="shroud" class="shroud"></div>