:host {
	height: 100%;
}

#claimant_form {
	width: 500px;
	position: fixed;
	top: 15%;
	left: 25%;
	background-color: darkgreen;
	border: 2px;
	display: none;
  	overflow: auto;
  	z-index: 100;
}

.claimant_form_header {
	width: 100%;
	background-color: gray;
	display: flex;
}

.claimant_form_header > .header {
	width: 100%;
	margin: 8px 15px 0;
}

.close {
  position: relative;
  right: 10px;
  top: 8px;
  width: 33px;
  height: 33px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.claimant_form_content {
	padding: 20px 0 0 40px;
}
.claimant_form_field {
	padding: 0 0 10px 0;
}

.claimant_form_field > label {
	width: 120px;
}

.claimant_form_field > input {

}

.claimant_form_buttons {
	display: flex;
	justify-content: right;
}

.claimant_form_buttons > button {
	margin: 5px;
}

.shroud {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 50;
}