:host {
	background-color: #2f4050;
	display: flex;
  width: 175px;
  position: absolute;
  height: 100%;
}

.container_items {
  margin-top: 0.5rem;
  padding-left: 5px;
  width: 98%;

  button {
    padding: 5px 10px;
    margin: 3px auto;
    background: #2f4050;
    color: #8FA9BC;
    border: none;
    text-align: left;

    &:focus {
      outline: none;
    }

    svg {
      fill: #8FA9BC;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 576px) {
  :host {
    width: 100%;
    position: relative;
  }

  .container_items {
    margin-top: 0;
    width: 100%;

    button {
      float: left;
      padding: 10px 10px;
    }
  }
}
