@import "~bootstrap/scss/bootstrap";

.content {
  display: flex;
  margin: 70px auto 32px;
  max-width: 960px;
  flex-direction: column;
}

.form-control,
.custom-select {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);

  &.active {
    display: block;
  }
}

/* this is added to the body when a dialog is open */
.has-dialog {
  overflow: hidden;
}
