@import '~bootstrap/scss/bootstrap';

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

.form-control, .custom-select {
    font-size: 14px;
}